<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New film</title>
</head>
<body>
<form class="addForm" method="post">
    <div class="inputField">
        <label>Enter film id:</label>
        <input type="text" name="id"  >
    </div>
    <div class="inputField">
        <label >Enter film name:</label>
        <input type="text" name="filmName">
    </div>
    <br>
    <div class="inputField">
        <label >Enter film description:</label>
        <input type="text" name="description" >
    </div>
    <br>
    <div class="inputField">
        <label >Enter poster path:</label>
        <input type="text" name="poster" >
    </div>
    <br>
    <div class="inputField">
        <label >Enter trailer path:</label>
        <input type="text" name="trailer" >
    </div>
    <br>
    <div class="inputField">
        <label >Enter companyname:</label>
        <input type="text" name="companyname" >
    </div>
    <br>
    <div class="inputField">
        <label >Enter year:</label>
        <input type="text" name="year" >
    </div>
    <br>
    <div class="inputField">
        <label >Enter rating:</label>
        <input type="text" name="rating" >
    </div>
    <br>
    <div class="inputField">
        <label >Enter duration:</label>
        <input type="text" name="duration" >
    </div>
    <br>
    <button type="submit">Add</button>
</form>
</body>
</html>